In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
test = pd.read_csv('https://raw.githubusercontent.com/ezioauditore-tech/AI/main/datasets/Titanic/test.csv')
train = pd.read_csv('https://raw.githubusercontent.com/ezioauditore-tech/AI/main/datasets/Titanic/train.csv')

In [ ]:
train.set_index("PassengerId",inplace=True)
test.set_index("PassengerId",inplace=True)

In [ ]:
train,test

(             Survived  Pclass  \
 PassengerId
 1                   0       3
 2                   1       1
 3                   1       3
 4                   1       1
 5                   0       3
 ...               ...     ...
 887                 0       2
 888                 1       1
 889                 0       3
 890                 1       1
 891                 0       3

                                                           Name     Sex   Age  \
 PassengerId
 1                                      Braund, Mr. Owen Harris    male  22.0
 2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
 3                                       Heikkinen, Miss. Laina  female  26.0
 4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
 5                                     Allen, Mr. William Henry    male  35.0
 ...                                                        ...     ...   ...
 887                                      Montvila, Rev. Juozas    male  27.0
 888                               Graham, Miss. Margaret Edith  female  19.0
 889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
 890                                      Behr, Mr. Karl Howell    male  26.0
 891                                        Dooley, Mr. Patrick    male  32.0

              SibSp  Parch            Ticket     Fare Cabin Embarked
 PassengerId
 1                1      0         A/5 21171   7.2500   NaN        S
 2                1      0          PC 17599  71.2833   C85        C
 3                0      0  STON/O2. 3101282   7.9250   NaN        S
 4                1      0            113803  53.1000  C123        S
 5                0      0            373450   8.0500   NaN        S
 ...            ...    ...               ...      ...   ...      ...
 887              0      0            211536  13.0000   NaN        S
 888              0      0            112053  30.0000   B42        S
 889              1      2        W./C. 6607  23.4500   NaN        S
 890              0      0            111369  30.0000  C148        C
 891              0      0            370376   7.7500   NaN        Q

 [891 rows x 11 columns],
              Pclass                                          Name     Sex  \
 PassengerId
 892               3                              Kelly, Mr. James    male
 893               3              Wilkes, Mrs. James (Ellen Needs)  female
 894               2                     Myles, Mr. Thomas Francis    male
 895               3                              Wirz, Mr. Albert    male
 896               3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female
 ...             ...                                           ...     ...
 1305              3                            Spector, Mr. Woolf    male
 1306              1                  Oliva y Ocana, Dona. Fermina  female
 1307              3                  Saether, Mr. Simon Sivertsen    male
 1308              3                           Ware, Mr. Frederick    male
 1309              3                      Peter, Master. Michael J    male

               Age  SibSp  Parch              Ticket      Fare Cabin Embarked
 PassengerId
 892          34.5      0      0              330911    7.8292   NaN        Q
 893          47.0      1      0              363272    7.0000   NaN        S
 894          62.0      0      0              240276    9.6875   NaN        Q
 895          27.0      0      0              315154    8.6625   NaN        S
 896          22.0      1      1             3101298   12.2875   NaN        S
 ...           ...    ...    ...                 ...       ...   ...      ...
 1305          NaN      0      0           A.5. 3236    8.0500   NaN        S
 1306         39.0      0      0            PC 17758  108.9000  C105        C
 1307         38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
 1308          NaN      0      0              359309    8.0500   NaN        S
 1309          NaN      1      1                2668   22.3583   NaN        C

 [418 rows x 10 columns])

In [ ]:
y_train=train["Survived"]

In [ ]:
train.drop(labels="Survived",axis=1,inplace=True)

In [ ]:
train.shape

(891, 10)

As the size of dataset is not sufficient to run the other

In [ ]:
df=train.append(test)

<ipython-input-67-70b3393577bd>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=train.append(test)

In [ ]:
df.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
columns_to_drop = ['Name', 'Age', 'SibSp', 'Parch', 'Ticket','Cabin','Embarked']
df.drop(columns_to_drop,inplace=True,axis=1)

In [ ]:
df_dummies=pd.get_dummies(df,columns=['Sex'])

In [ ]:
df_dummies.shape

(1309, 4)

In [ ]:
df_dummies.isnull().sum()

Pclass        0
Fare          1
Sex_female    0
Sex_male      0
dtype: int64

In [ ]:
df_dummies.fillna(value=0.0,inplace=True)

In [ ]:
df_dummies

             Pclass      Fare  Sex_female  Sex_male
PassengerId
1                 3    7.2500           0         1
2                 1   71.2833           1         0
3                 3    7.9250           1         0
4                 1   53.1000           1         0
5                 3    8.0500           0         1
...             ...       ...         ...       ...
1305              3    8.0500           0         1
1306              1  108.9000           1         0
1307              3    7.2500           0         1
1308              3    8.0500           0         1
1309              3   22.3583           0         1

[1309 rows x 4 columns]

In [ ]:
x_train=df_dummies[0:891]
x_test=df_dummies[891:]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
x_train_scale=scaler.fit_transform(x_train)
x_test_scale=scaler.transform(x_test)

In [ ]:
x_train.isnull().sum()

Pclass        0
Fare          0
Sex_female    0
Sex_male      0
dtype: int64

In [ ]:
x_test.isnull().sum()

Pclass        0
Fare          0
Sex_female    0
Sex_male      0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train_sub,x_test_sub,y_train_sub,y_test_sub=train_test_split(x_train_scale,y_train,test_size=0.2,random_state=42)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
learning_rate=[0.05,0.1,0.25,0.5,0.75,1]
for learning_rate in learning_rate:
  gb = GradientBoostingClassifier(learning_rate=learning_rate,n_estimators=20,max_features=5)
  gb.fit(x_train_sub,y_train_sub)
  print("Learning Rate:",learning_rate)
  print("Accuracy score (Training): {0:.3f}".format(gb.score(x_train_sub,y_train_sub)))
  print("Accuracy score (Testing): {0:.3f}".format(gb.score(x_test_sub,y_test_sub)))
  print()

Learning Rate: 0.05
Accuracy score (Training): 0.808
Accuracy score (Testing): 0.760

Learning Rate: 0.1
Accuracy score (Training): 0.838
Accuracy score (Testing): 0.804

Learning Rate: 0.25
Accuracy score (Training): 0.854
Accuracy score (Testing): 0.804

Learning Rate: 0.5
Accuracy score (Training): 0.881
Accuracy score (Testing): 0.821

Learning Rate: 0.75
Accuracy score (Training): 0.881
Accuracy score (Testing): 0.804

Learning Rate: 1
Accuracy score (Training): 0.895
Accuracy score (Testing): 0.832

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
learning_rate=[0.05,0.1,0.25,0.5,0.75,1]
for learning_rate in learning_rate:
  ab = AdaBoostClassifier(learning_rate=learning_rate,n_estimators=100,random_state=42)
  ab.fit(x_train_sub,y_train_sub)
  print("Learning Rate:",learning_rate)
  print("Accuracy score (Training): {0:.3f}".format(ab.score(x_train_sub,y_train_sub)))
  print("Accuracy score (Testing): {0:.3f}".format(ab.score(x_test_sub,y_test_sub)))
  print()

Learning Rate: 0.05
Accuracy score (Training): 0.792
Accuracy score (Testing): 0.782

Learning Rate: 0.1
Accuracy score (Training): 0.792
Accuracy score (Testing): 0.782

Learning Rate: 0.25
Accuracy score (Training): 0.796
Accuracy score (Testing): 0.788

Learning Rate: 0.5
Accuracy score (Training): 0.801
Accuracy score (Testing): 0.788

Learning Rate: 0.75
Accuracy score (Training): 0.809
Accuracy score (Testing): 0.793

Learning Rate: 1
Accuracy score (Training): 0.816
Accuracy score (Testing): 0.799

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
ab = AdaBoostClassifier(n_estimators=100,algorithm='SAMME',random_state=42)
ab.fit(x_train_sub,y_train_sub)
print("Accuracy score (Training): {0:.3f}".format(ab.score(x_train_sub,y_train_sub)))
print("Accuracy score (Testing): {0:.3f}".format(ab.score(x_test_sub,y_test_sub)))

Accuracy score (Training): 0.792
Accuracy score (Testing): 0.782